.picture {
    height: auto;
    width: 300px;
    text-align: center;
}

li {
    background-color: rgb(255, 210, 210);
}

.headings {
    font-size: 26px;
    font-weight: bold;
}

.center {
    text-align: center;
}